body {
    background-image: url("images/imaccueil.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
}

.container {
    width: 400px;
    margin: 0 auto;
    margin-top: 10%;
}

/* Bordered form */
form {
    width: 100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.container h1 {
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* Full-width inputs */
input[type=text],[type=int],[type=email],[type=tel],[type=password],[type=checkbox],[type=datetime] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}

.nav {
    background-color: rgb(18, 64, 214);
    height: 40px;
    margin-bottom: 20px;
}

.nav ul li {
    top: 0;
    float: left;
    list-style: none;
}

.nav ul li a {
    color: white;
    line-height: 40px;
    display: block;
    padding: 0 10px;
}

table {
    border-collapse: collapse;
    margin: auto;
}

td,th {
    border: 1px solid black;
    text-align: center;
}

caption {
    font-size: 250%;
}